In [280]:
# import modules

import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib.pyplot import figure
import matplotlib.pyplot as plt
import math

# ignore warning
import warnings
warnings.filterwarnings("ignore")

## I. Preprocessing Stage

In [281]:
# load data for January 2020
jan_2020 = pd.read_csv("../raw_data/yellow_tripdata_2020-01.csv")
jan_2020.to_pickle('../raw_data/yellow_tripdata_2020-01.pkl')
jan_2020 = pd.read_pickle('../raw_data/yellow_tripdata_2020-01.pkl')
jan_2020

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.00,3.00,0.5,1.47,0.00,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.00,3.00,0.5,1.50,0.00,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.00,3.00,0.5,1.00,0.00,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.50,0.50,0.5,1.36,0.00,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.50,0.50,0.5,0.00,0.00,0.3,4.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6405003,NaN,2020-01-31 22:51:00,2020-01-31 23:22:00,NaN,3.24,NaN,NaN,237,234,NaN,17.59,2.75,0.5,0.00,0.00,0.3,21.14,0.0
6405004,NaN,2020-01-31 22:10:00,2020-01-31 23:26:00,NaN,22.13,NaN,NaN,259,45,NaN,46.67,2.75,0.5,0.00,12.24,0.3,62.46,0.0
6405005,NaN,2020-01-31 22:50:07,2020-01-31 23:17:57,NaN,10.51,NaN,NaN,137,169,NaN,48.85,2.75,0.0,0.00,0.00,0.3,51.90,0.0
6405006,NaN,2020-01-31 22:25:53,2020-01-31 22:48:32,NaN,5.49,NaN,NaN,50,42,NaN,27.17,2.75,0.0,0.00,0.00,0.3,30.22,0.0
6405007,NaN,2020-01-31 22:44:00,2020-01-31 23:06:00,NaN,11.60,NaN,NaN,179,205,NaN,54.56,2.75,0.5,0.00,0.00,0.3,58.11,0.0

In [282]:
# load data for February 2020
feb_2020 = pd.read_csv("../raw_data/yellow_tripdata_2020-02.csv")
feb_2020.to_pickle('../raw_data/yellow_tripdata_2020-02.pkl')
feb_2020 = pd.read_pickle('../raw_data/yellow_tripdata_2020-02.pkl')
feb_2020

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-02-01 00:17:35,2020-02-01 00:30:32,1.0,2.60,1.0,N,145,7,1.0,11.00,0.50,0.5,2.45,0.0,0.3,14.75,0.0
1,1.0,2020-02-01 00:32:47,2020-02-01 01:05:36,1.0,4.80,1.0,N,45,61,1.0,21.50,3.00,0.5,6.30,0.0,0.3,31.60,2.5
2,1.0,2020-02-01 00:31:44,2020-02-01 00:43:28,1.0,3.20,1.0,N,186,140,1.0,11.00,3.00,0.5,1.00,0.0,0.3,15.80,2.5
3,2.0,2020-02-01 00:07:35,2020-02-01 00:31:39,1.0,4.38,1.0,N,144,140,1.0,18.00,0.50,0.5,3.00,0.0,0.3,24.80,2.5
4,2.0,2020-02-01 00:51:43,2020-02-01 01:01:29,1.0,2.28,1.0,N,238,152,2.0,9.50,0.50,0.5,0.00,0.0,0.3,10.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6299349,NaN,2020-02-28 14:28:00,2020-02-28 14:54:00,NaN,8.60,NaN,NaN,259,247,NaN,30.81,2.75,0.5,0.00,0.0,0.3,34.36,0.0
6299350,NaN,2020-02-28 14:03:00,2020-02-28 14:11:00,NaN,3.01,NaN,NaN,212,31,NaN,22.59,2.75,0.5,0.00,0.0,0.3,26.14,0.0
6299351,NaN,2020-02-28 14:55:00,2020-02-28 15:02:00,NaN,0.71,NaN,NaN,42,42,NaN,13.43,2.75,0.5,0.00,0.0,0.3,16.98,0.0
6299352,NaN,2020-02-28 14:29:00,2020-02-28 14:51:00,NaN,12.40,NaN,NaN,38,53,NaN,30.54,2.75,0.5,0.00,0.0,0.3,34.09,0.0
6299353,NaN,2020-02-28 14:06:00,2020-02-28 14:38:00,NaN,6.96,NaN,NaN,226,135,NaN,30.30,2.75,0.5,0.00,0.0,0.3,33.85,0.0

In [283]:
# load data for March 2020
mar_2020 = pd.read_csv("../raw_data/yellow_tripdata_2020-03.csv")
mar_2020.to_pickle('../raw_data/yellow_tripdata_2020-03.pkl')
mar_2020 = pd.read_pickle('../raw_data/yellow_tripdata_2020-03.pkl')
mar_2020

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-03-01 00:31:13,2020-03-01 01:01:42,1.0,4.70,1.0,N,88,255,1.0,22.00,3.0,0.5,2.00,0.0,0.3,27.80,2.5
1,2.0,2020-03-01 00:08:22,2020-03-01 00:08:49,1.0,0.00,1.0,N,193,193,2.0,2.50,0.5,0.5,0.00,0.0,0.3,3.80,0.0
2,1.0,2020-03-01 00:52:18,2020-03-01 00:59:16,1.0,1.10,1.0,N,246,90,1.0,6.00,3.0,0.5,1.95,0.0,0.3,11.75,2.5
3,2.0,2020-03-01 00:47:53,2020-03-01 00:50:57,2.0,0.87,1.0,N,151,238,1.0,5.00,0.5,0.5,1.76,0.0,0.3,10.56,2.5
4,1.0,2020-03-01 00:43:19,2020-03-01 00:58:27,0.0,4.40,1.0,N,79,261,1.0,16.50,3.0,0.5,4.05,0.0,0.3,24.35,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3007287,NaN,2020-03-31 23:21:00,2020-03-31 23:33:00,NaN,5.43,NaN,NaN,137,87,NaN,30.47,0.0,0.5,0.00,0.0,0.3,33.77,2.5
3007288,NaN,2020-03-31 23:57:00,2020-04-01 00:26:00,NaN,13.21,NaN,NaN,137,71,NaN,37.97,0.0,0.5,0.00,0.0,0.3,41.27,2.5
3007289,NaN,2020-03-31 23:22:01,2020-03-31 23:43:52,NaN,12.14,NaN,NaN,137,32,NaN,37.10,0.0,0.0,0.00,0.0,0.3,39.90,2.5
3007290,NaN,2020-03-31 23:18:53,2020-03-31 23:32:21,NaN,7.01,NaN,NaN,137,159,NaN,20.07,0.0,0.0,0.00,0.0,0.3,22.87,2.5
3007291,NaN,2020-03-31 23:11:00,2020-03-31 23:30:00,NaN,6.31,NaN,NaN,185,69,NaN,23.40,0.0,0.5,0.00,0.0,0.3,24.20,0.0

In [284]:
# load data from January 2019

jan = pd.read_csv("../raw_data/yellow_tripdata_2019-01.csv")
jan.to_pickle('../raw_data/yellow_tripdata_2019-01.pkl')
jan = pd.read_pickle('../raw_data/yellow_tripdata_2019-01.pkl')
jan

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.50,1,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.60,1,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.00,1,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.00,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.00,2,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7667787,2,2019-01-31 23:57:36,2019-02-01 00:18:39,1,4.79,1,N,263,4,1,18.0,0.5,0.5,3.86,0.0,0.3,23.16,0.0
7667788,2,2019-01-31 23:32:03,2019-01-31 23:33:11,1,0.00,1,N,193,193,1,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0
7667789,2,2019-01-31 23:36:36,2019-01-31 23:36:40,1,0.00,1,N,264,264,1,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0
7667790,2,2019-01-31 23:14:53,2019-01-31 23:15:20,1,0.00,1,N,264,7,1,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0
7667791,2,2019-01-31 23:12:49,2019-01-31 23:14:08,1,0.00,1,N,193,193,1,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0

In [285]:
# load data from February 2019

feb = pd.read_csv("../raw_data/yellow_tripdata_2019-02.csv")
feb.to_pickle('../raw_data/yellow_tripdata_2019-02.pkl')
feb = pd.read_pickle('../raw_data/yellow_tripdata_2019-02.pkl')
feb

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-02-01 00:59:04,2019-02-01 01:07:27,1,2.1,1,N,48,234,1,9.0,0.5,0.5,2.0,0.0,0.3,12.3,0.0
1,1,2019-02-01 00:33:09,2019-02-01 01:03:58,1,9.8,1,N,230,93,2,32.0,0.5,0.5,0.0,0.0,0.3,33.3,0.0
2,1,2019-02-01 00:09:03,2019-02-01 00:09:16,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.0,0.0,0.3,3.8,0.0
3,1,2019-02-01 00:45:38,2019-02-01 00:51:10,1,0.8,1,N,95,95,2,5.5,0.5,0.5,0.0,0.0,0.3,6.8,0.0
4,1,2019-02-01 00:25:30,2019-02-01 00:28:14,1,0.8,1,N,140,263,2,5.0,0.5,0.5,0.0,0.0,0.3,6.3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7019370,2,2019-02-28 23:29:08,2019-02-28 23:29:11,1,0.0,1,N,193,193,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7019371,2,2019-02-28 22:48:47,2019-02-28 23:50:19,1,0.0,1,N,141,193,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5
7019372,2,2019-02-28 23:41:23,2019-02-28 23:42:23,1,0.0,1,N,264,264,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7019373,2,2019-02-28 23:12:52,2019-02-28 23:14:16,1,0.0,1,N,264,193,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7019374,2,2019-02-28 23:10:35,2019-02-28 23:10:37,1,0.0,1,N,264,264,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [286]:
# load data from March 2019

mar = pd.read_csv("../raw_data/yellow_tripdata_2019-03.csv")
mar.to_pickle('../raw_data/yellow_tripdata_2019-03.pkl')
mar = pd.read_pickle('../raw_data/yellow_tripdata_2019-03.pkl')
mar

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-03-01 00:24:41,2019-03-01 00:25:31,1,0.00,1,N,145,145,2,2.5,0.5,0.5,0.00,0.00,0.3,3.80,0.0
1,1,2019-03-01 00:25:27,2019-03-01 00:36:37,2,3.70,1,N,95,130,1,13.0,0.5,0.5,0.70,0.00,0.3,15.00,0.0
2,1,2019-03-01 00:05:21,2019-03-01 00:38:23,1,14.10,1,N,249,28,1,41.0,3.0,0.5,10.10,5.76,0.3,60.66,2.5
3,1,2019-03-01 00:48:55,2019-03-01 01:06:03,1,9.60,1,N,138,98,2,27.0,0.5,0.5,0.00,0.00,0.3,28.30,0.0
4,1,2019-03-01 00:11:42,2019-03-01 00:16:40,1,0.80,1,N,48,48,1,5.5,3.0,0.5,3.00,0.00,0.3,12.30,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7832540,2,2019-03-31 23:58:52,2019-04-01 00:05:04,1,0.74,1,N,186,186,1,5.5,0.5,0.5,2.33,0.00,0.3,11.63,2.5
7832541,2,2019-03-31 23:20:15,2019-03-31 23:24:12,1,1.11,1,N,263,236,2,5.5,0.5,0.5,0.00,0.00,0.3,9.30,2.5
7832542,2,2019-03-31 23:32:15,2019-03-31 23:54:36,1,13.17,1,N,75,134,2,37.0,0.5,0.5,0.00,5.76,0.3,44.06,0.0
7832543,2,2019-03-31 22:32:57,2019-03-31 23:21:22,1,0.00,1,N,237,193,2,0.0,0.0,0.0,0.00,0.00,0.0,0.00,2.5
7832544,2,2019-03-31 23:31:13,2019-03-31 23:31:15,1,0.00,1,N,264,264,2,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0

## data distribution plot

In [287]:
# Univariate Histograms
filename = 'pima-indians-diabetes.data.csv'
histogram = jan.hist(figsize=(10,10), bins = 10, column=["trip_distance", "passenger_count", "weather_median_x"])

# Show plot
plt.show()
plt.savefig("../plots/data_distribution.png")

KeyError: "['weather_median_x'] not in index"

In [ ]:
# Creating histogram
fig, ax = plt.subplots(figsize =(6, 4))
ax.hist(jan["fare_amount"], bins = [0, 5, 10, 15, 20, 25, 30])
ax.set_xlabel("fare_amount")
ax.set_ylabel("frequency")
plt.show()
plt.savefig("../plots/data_distribution2.png")

### describe data (data analysis)

In [ ]:
# check data
jan.describe()

In [ ]:
jan['passenger_count'].value_counts()

In [ ]:
feb.describe()

In [ ]:
mar.describe()

In [ ]:
jan_2020.describe()

In [ ]:
feb_2020.describe()

In [ ]:
mar_2020.describe()

## impute data for 2020 data

In [ ]:
# for passenger_count : impute with mean values (representative)
jan_2020['passenger_count'].fillna(math.floor(jan_2020['passenger_count'].median()), inplace=True)
feb_2020['passenger_count'].fillna(math.floor(feb_2020['passenger_count'].median()), inplace=True)
mar_2020['passenger_count'].fillna(math.floor(mar_2020['passenger_count'].median()), inplace=True)

# for ratecodeid : use mean values
jan_2020['RatecodeID'].fillna(math.floor(jan_2020['RatecodeID'].mean()), inplace=True)
feb_2020['RatecodeID'].fillna(math.floor(feb_2020['RatecodeID'].mean()), inplace=True)
mar_2020['RatecodeID'].fillna(math.floor(mar_2020['RatecodeID'].mean()), inplace=True)

# for store_and_fwd_flag : use Y because they may forgot to add data when there is no signal
jan_2020['store_and_fwd_flag'].fillna('Y', inplace=True)
feb_2020['store_and_fwd_flag'].fillna('Y', inplace=True)
mar_2020['store_and_fwd_flag'].fillna('Y', inplace=True)

# for payment_type: impute with mean values
jan_2020['payment_type'].fillna(math.floor(jan_2020['payment_type'].mean()), inplace=True)
feb_2020['payment_type'].fillna(math.floor(feb_2020['payment_type'].mean()), inplace=True)
mar_2020['payment_type'].fillna(math.floor(mar_2020['payment_type'].mean()), inplace=True)

### 1. tpep_pickup_datetime & tpep_dropoff_datetime (jan - mar)

In [ ]:
# it seems that the timeline for January include time from other months. we are going to include only data from January.

# convert data to datetime type
jan["tpep_pickup_datetime"] = pd.to_datetime(jan['tpep_pickup_datetime'], format="%Y-%m-%d %H:%M:%S")
jan["tpep_dropoff_datetime"] = pd.to_datetime(jan['tpep_dropoff_datetime'], format="%Y-%m-%d %H:%M:%S")

jan = jan.loc[(jan["tpep_pickup_datetime"] > "2018-12-31 23:59:59") & (jan["tpep_dropoff_datetime"] > "2018-12-31 23:59:59")]
jan = jan.loc[(jan["tpep_pickup_datetime"] <= "2019-01-31 23:59:59") & (jan["tpep_dropoff_datetime"] <= "2019-01-31 23:59:59")]

In [ ]:
# it seems that the timeline for February include time from other months. we are going to include only data from February.

# convert data to datetime type
feb["tpep_pickup_datetime"] = pd.to_datetime(feb['tpep_pickup_datetime'], format="%Y-%m-%d %H:%M:%S")
feb["tpep_dropoff_datetime"] = pd.to_datetime(feb['tpep_dropoff_datetime'], format="%Y-%m-%d %H:%M:%S")

feb = feb.loc[(feb["tpep_pickup_datetime"] > "2019-01-31 23:59:59") & (feb["tpep_dropoff_datetime"] > "2019-01-31 23:59:59")]
feb = feb.loc[(feb["tpep_pickup_datetime"] <= "2019-02-28 23:59:59") & (feb["tpep_dropoff_datetime"] <= "2019-02-28 23:59:59")]

In [ ]:
# it seems that the timeline for March include time from other months. we are going to include only data from March.

# convert data to datetime type
mar["tpep_pickup_datetime"] = pd.to_datetime(mar['tpep_pickup_datetime'], format="%Y-%m-%d %H:%M:%S")
mar["tpep_dropoff_datetime"] = pd.to_datetime(mar['tpep_dropoff_datetime'], format="%Y-%m-%d %H:%M:%S")

# february is until 28 on 2019
mar = mar.loc[(mar["tpep_pickup_datetime"] > "2018-02-28 23:59:59") & (mar["tpep_dropoff_datetime"] > "2018-02-28 23:59:59")]
mar = mar.loc[(mar["tpep_pickup_datetime"] <= "2019-03-31 23:59:59") & (mar["tpep_dropoff_datetime"] <= "2019-03-31 23:59:59")]

In [ ]:
# it seems that the timeline for January include time from other months. we are going to include only data from January.

# convert data to datetime type
jan_2020["tpep_pickup_datetime"] = pd.to_datetime(jan_2020['tpep_pickup_datetime'], format="%Y-%m-%d %H:%M:%S")
jan_2020["tpep_dropoff_datetime"] = pd.to_datetime(jan_2020['tpep_dropoff_datetime'], format="%Y-%m-%d %H:%M:%S")

jan_2020 = jan_2020.loc[(jan_2020["tpep_pickup_datetime"] > "2019-12-31 23:59:59") & (jan_2020["tpep_dropoff_datetime"] > "2019-12-31 23:59:59")]
jan_2020 = jan_2020.loc[(jan_2020["tpep_pickup_datetime"] <= "2020-01-31 23:59:59") & (jan_2020["tpep_dropoff_datetime"] <= "2020-01-31 23:59:59")]

In [ ]:
# it seems that the timeline for February include time from other months. we are going to include only data from February.

# convert data to datetime type
feb_2020["tpep_pickup_datetime"] = pd.to_datetime(feb_2020['tpep_pickup_datetime'], format="%Y-%m-%d %H:%M:%S")
feb_2020["tpep_dropoff_datetime"] = pd.to_datetime(feb_2020['tpep_dropoff_datetime'], format="%Y-%m-%d %H:%M:%S")

feb_2020 = feb_2020.loc[(feb_2020["tpep_pickup_datetime"] > "2020-01-31 23:59:59") & (feb_2020["tpep_dropoff_datetime"] > "2020-01-31 23:59:59")]
feb_2020 = feb_2020.loc[(feb_2020["tpep_pickup_datetime"] <= "2020-02-28 23:59:59") & (feb_2020["tpep_dropoff_datetime"] <= "2020-02-28 23:59:59")]

In [ ]:
# it seems that the timeline for March include time from other months. we are going to include only data from March.

# convert data to datetime type
mar_2020["tpep_pickup_datetime"] = pd.to_datetime(mar_2020['tpep_pickup_datetime'], format="%Y-%m-%d %H:%M:%S")
mar_2020["tpep_dropoff_datetime"] = pd.to_datetime(mar_2020['tpep_dropoff_datetime'], format="%Y-%m-%d %H:%M:%S")

# february is until 28 on 2019
mar_2020 = mar_2020.loc[(mar_2020["tpep_pickup_datetime"] > "2020-02-28 23:59:59") & (mar_2020["tpep_dropoff_datetime"] > "2020-02-28 23:59:59")]
mar_2020 = mar_2020.loc[(mar_2020["tpep_pickup_datetime"] <= "2020-03-31 23:59:59") & (mar_2020["tpep_dropoff_datetime"] <= "2020-03-31 23:59:59")]

In [ ]:
# remove pickup and dropoff that has the same time because invalid
jan = jan.loc[jan['tpep_pickup_datetime'] != jan['tpep_dropoff_datetime']]
feb = feb.loc[feb['tpep_pickup_datetime'] != feb['tpep_dropoff_datetime']]
mar = mar.loc[mar['tpep_pickup_datetime'] != mar['tpep_dropoff_datetime']]

jan_2020 = jan_2020.loc[jan_2020['tpep_pickup_datetime'] != jan_2020['tpep_dropoff_datetime']]
feb_2020 = feb_2020.loc[feb_2020['tpep_pickup_datetime'] != feb_2020['tpep_dropoff_datetime']]
mar_2020 = mar_2020.loc[mar_2020['tpep_pickup_datetime'] != mar_2020['tpep_dropoff_datetime']]

In [ ]:
# valid pickup and dropoff time is when dropoff time > pickup time
jan = jan.loc[jan['tpep_pickup_datetime'] < jan['tpep_dropoff_datetime']]
feb = feb.loc[feb['tpep_pickup_datetime'] < feb['tpep_dropoff_datetime']]
mar = mar.loc[mar['tpep_pickup_datetime'] < mar['tpep_dropoff_datetime']]

jan_2020 = jan_2020.loc[jan_2020['tpep_pickup_datetime'] < jan_2020['tpep_dropoff_datetime']]
feb_2020 = feb_2020.loc[feb_2020['tpep_pickup_datetime'] < feb_2020['tpep_dropoff_datetime']]
mar_2020 = mar_2020.loc[mar_2020['tpep_pickup_datetime'] < mar_2020['tpep_dropoff_datetime']]

### 2. vendorID

In [ ]:
# remove VendorID that isn't 1 & 2
jan = jan.loc[(jan["VendorID"] == 1) | (jan["VendorID"] == 2)]
feb = feb.loc[(feb["VendorID"] == 1) | (feb["VendorID"] == 2)]
mar = mar.loc[(mar["VendorID"] == 1) | (mar["VendorID"] == 2)]

jan_2020 = jan_2020.loc[(jan_2020["VendorID"] == 1) | (jan_2020["VendorID"] == 2)]
feb_2020 = feb_2020.loc[(feb_2020["VendorID"] == 1) | (feb_2020["VendorID"] == 2)]
mar_2020 = mar_2020.loc[(mar_2020["VendorID"] == 1) | (mar_2020["VendorID"] == 2)]

### 3. trip_distance

In [ ]:
# remove negative trip distance and when trip distance = 0 
jan = jan.loc[jan['trip_distance'] > 0]
feb = feb.loc[feb['trip_distance'] > 0]
mar = mar.loc[mar['trip_distance'] > 0]

jan_2020 = jan_2020.loc[jan_2020['trip_distance'] > 0]
feb_2020 = feb_2020.loc[feb_2020['trip_distance'] > 0]
mar_2020 = mar_2020.loc[mar_2020['trip_distance'] > 0]

### 4. passenger_count

In [ ]:
# remove passengers > 6 because maximum is 6 according to
# https://www1.nyc.gov/site/tlc/passengers/passenger-frequently-asked-questions.page
# also counts as outliers
jan['passenger_count'].value_counts()
feb['passenger_count'].value_counts()
mar['passenger_count'].value_counts()

jan_2020['passenger_count'].value_counts()
feb_2020['passenger_count'].value_counts()
mar_2020['passenger_count'].value_counts()


# only include trips with passenger count greater than 0 and less than 7
jan = jan.loc[(jan['passenger_count'] > 0) & (jan['passenger_count'] < 7)]
feb = feb.loc[(feb['passenger_count'] > 0) & (feb['passenger_count'] < 7)]
mar = mar.loc[(mar['passenger_count'] > 0) & (mar['passenger_count'] < 7)]

jan_2020 = jan.loc[(jan['passenger_count'] > 0) & (jan['passenger_count'] < 7)]
feb_2020 = feb.loc[(feb['passenger_count'] > 0) & (feb['passenger_count'] < 7)]
mar_2020 = mar.loc[(mar['passenger_count'] > 0) & (mar['passenger_count'] < 7)]

### 5. payment_type & ratecodeID

In [ ]:
# removing outliers
jan['payment_type'].value_counts()
feb['payment_type'].value_counts()
mar['payment_type'].value_counts()

jan_2020['payment_type'].value_counts()
feb_2020['payment_type'].value_counts()
mar_2020['payment_type'].value_counts()
# data seems reasonable

In [ ]:
jan['RatecodeID'].value_counts()
feb['RatecodeID'].value_counts()
mar['RatecodeID'].value_counts()

jan_2020['RatecodeID'].value_counts()
feb_2020['RatecodeID'].value_counts()
mar_2020['RatecodeID'].value_counts()

# 99 RatecodeID is not possible
jan = jan.loc[jan['RatecodeID'] != 99]
feb = feb.loc[feb['RatecodeID'] != 99]
mar = mar.loc[mar['RatecodeID'] != 99]

jan_2020 = jan_2020.loc[jan_2020['RatecodeID'] != 99]
feb_2020 = feb_2020.loc[feb_2020['RatecodeID'] != 99]
mar_2020 = mar_2020.loc[mar_2020['RatecodeID'] != 99]

### 6. fare_amount

In [ ]:
# select fare_amount that is greater than 0
jan = jan.loc[jan['fare_amount'] > 0]
feb = feb.loc[feb['fare_amount'] > 0]
mar = mar.loc[mar['fare_amount'] > 0]

jan_2020 = jan_2020.loc[jan_2020['fare_amount'] > 0]
feb_2020 = feb_2020.loc[feb_2020['fare_amount'] > 0]
mar_2020 = mar_2020.loc[mar_2020['fare_amount'] > 0]

In [ ]:
jan['congestion_surcharge'].isna()

### 7. outliers

In [ ]:
# detect outliers
# remove trip distance outlier: identify outliers using boxplot
sns.boxplot(jan['trip_distance'])

# remove outlier using IQR
Q1 = jan['trip_distance'].quantile(0.25)
Q3 = jan['trip_distance'].quantile(0.75)
IQR = Q3 - Q1 # interquartile range

filter = (jan['trip_distance'] >= Q1 - 1.5 * IQR) & (jan['trip_distance'] <= Q3 + 1.5 * IQR)
jan = jan.loc[filter]

# have we removed the outliers ?

In [ ]:
sns.boxplot(jan_2020['trip_distance'])

# remove outlier using IQR
Q1 = jan_2020['trip_distance'].quantile(0.25)
Q3 = jan_2020['trip_distance'].quantile(0.75)
IQR = Q3 - Q1 # interquartile range

filter = (jan_2020['trip_distance'] >= Q1 - 1.5 * IQR) & (jan_2020['trip_distance'] <= Q3 + 1.5 * IQR)
jan_2020 = jan_2020.loc[filter]

In [ ]:
sns.boxplot(feb['trip_distance'])

# remove outlier using IQR
Q1 = feb['trip_distance'].quantile(0.25)
Q3 = feb['trip_distance'].quantile(0.75)
IQR = Q3 - Q1 # interquartile range

filter = (feb['trip_distance'] >= Q1 - 1.5 * IQR) & (feb['trip_distance'] <= Q3 + 1.5 * IQR)
feb = feb.loc[filter]

In [ ]:
sns.boxplot(feb_2020['trip_distance'])

# remove outlier using IQR
Q1 = feb_2020['trip_distance'].quantile(0.25)
Q3 = feb_2020['trip_distance'].quantile(0.75)
IQR = Q3 - Q1 # interquartile range

filter = (feb_2020['trip_distance'] >= Q1 - 1.5 * IQR) & (feb_2020['trip_distance'] <= Q3 + 1.5 * IQR)
feb_2020 = feb_2020.loc[filter]

In [ ]:
sns.boxplot(mar['trip_distance'])

# remove outlier using IQR
Q1 = mar['trip_distance'].quantile(0.25)
Q3 = mar['trip_distance'].quantile(0.75)
IQR = Q3 - Q1 # interquartile range

filter = (mar['trip_distance'] >= Q1 - 1.5 * IQR) & (mar['trip_distance'] <= Q3 + 1.5 * IQR)
mar = mar.loc[filter]

In [ ]:
sns.boxplot(mar_2020['trip_distance'])

# remove outlier using IQR
Q1 = mar_2020['trip_distance'].quantile(0.25)
Q3 = mar_2020['trip_distance'].quantile(0.75)
IQR = Q3 - Q1 # interquartile range

filter = (mar_2020['trip_distance'] >= Q1 - 1.5 * IQR) & (mar_2020['trip_distance'] <= Q3 + 1.5 * IQR)
mar_2020 = mar_2020.loc[filter]

### To-do
- impute nan values for congestion_surcharge -> what method? -> impute with either 1 âœ“
- need to identify overall data shape. how to plot data distribution? âœ“
- imputation on nan values for year 2020 data âœ“ 
- better visualisation graph #1 for overall data distribution
- detect outliers âœ“ -> not sure if implemented correctly

# III. External Data (Weather)
Weather data is obtained from the National Centers for Environmental Information website: https://www.ncdc.noaa.gov/cdo-web/datasets/GHCND/stations/GHCND:USW00094728/detail

In [ ]:
# 1. convert data to csv âœ“

# read weather data csv 2019 - 2020
jan_weather = pd.read_csv('../external_data/weather_jan2019.csv', delimiter=";")
feb_weather = pd.read_csv('../external_data/weather_feb2019.csv', delimiter=";")
mar_weather = pd.read_csv('../external_data/weather_mar2019.csv', delimiter=";")

jan_2020_weather = pd.read_csv('../external_data/weather_jan2020.csv', delimiter=";")
feb_2020_weather = pd.read_csv('../external_data/weather_feb2020.csv', delimiter=";")
mar_2020_weather = pd.read_csv('../external_data/weather_mar2020.csv', delimiter=";")

# remove summary in the latest row for all df
jan_weather.drop(jan_weather.tail(1).index,inplace=True)
feb_weather.drop(feb_weather.tail(1).index,inplace=True)
mar_weather.drop(mar_weather.tail(1).index,inplace=True)
jan_2020_weather.drop(jan_2020_weather.tail(1).index,inplace=True)
feb_2020_weather.drop(feb_2020_weather.tail(1).index,inplace=True)
mar_2020_weather.drop(mar_2020_weather.tail(1).index,inplace=True)

In [ ]:
# check if columns are correctly added
mar_weather

In [ ]:
# convert day month year to datetime data type so easier to add
def convert_day_month(month_df):
    year = month_df['Year']
    month = month_df['Month']
    day = month_df['Day']

    df = pd.concat([year, month, day], axis=1)
    month_df['weather_datetime'] = pd.to_datetime(df)

convert_day_month(jan_weather)
convert_day_month(feb_weather)
convert_day_month(mar_weather)
convert_day_month(jan_2020_weather)
convert_day_month(feb_2020_weather)
convert_day_month(mar_2020_weather)

# weather_median to represent one day's weather
def weather_median(month_df):
    max_weather = month_df['Max']
    min_weather = month_df['Min']
    average = (max_weather.astype(float) + min_weather.astype(float)) / 2
    month_df['weather_median'] = average

weather_median(jan_weather)
weather_median(feb_weather)
weather_median(mar_weather)
weather_median(jan_2020_weather)
weather_median(feb_2020_weather)
weather_median(mar_2020_weather)

### concatenate Jan - Mar weather data for 2019 - 2020 & export to csv

In [ ]:
weather_2019_2020 = pd.concat([jan_weather, feb_weather, mar_weather, jan_2020_weather, feb_2020_weather, mar_2020_weather])
weather_2019_2020.to_csv("../preprocessed_data/weather_2019_2020")

In [ ]:
weather_2019_2020

In [ ]:
# 2. add weather data to existing jan-mar dataframe âœ“
jan

In [ ]:
# join for the months

def join_weather(month_data):
    # from https://stackoverflow.com/questions/16176996/keep-only-date-part-when-using-pandas-to-datetime
    # pickup datetime to datetime column only
    month_data['taxi_datetime'] = pd.to_datetime(month_data['tpep_pickup_datetime']).dt.date # assumption !
    
    # make sure they both are the same datatype
    month_data['taxi_datetime'] = month_data['taxi_datetime'].astype('datetime64[ns]')
    weather_2019_2020['weather_datetime'] = weather_2019_2020['weather_datetime'].astype('datetime64[ns]')
    
    month_data = month_data.merge(weather_2019_2020, left_on='taxi_datetime', right_on='weather_datetime').drop('weather_datetime', axis=1)

join_weather(jan)

In [ ]:
join_weather(feb)
join_weather(mar)
join_weather(jan_2020)
join_weather(feb_2020)
join_weather(mar_2020)

## II. Save Preprocessed Data + Weather Data

In [ ]:
# 2019 for train data
jan.to_csv("../preprocessed_data/January.csv")
feb.to_csv("../preprocessed_data/February.csv")
mar.to_csv("../preprocessed_data/March.csv")

# 2020 for test data
jan_2020.to_csv("../preprocessed_data/January_2020.csv")
feb_2020.to_csv("../preprocessed_data/February_2020.csv")
mar_2020.to_csv("../preprocessed_data/March_2020.csv")

# to-do: concatenate all data
# might want to drop some columns.