### Import Data

In [2]:
# import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# ignore warning
import warnings
warnings.filterwarnings("ignore")

In [3]:
# load data
jan = pd.read_csv("../preprocessed_data/January.csv")
feb = pd.read_csv("../preprocessed_data/February.csv")
mar = pd.read_csv("../preprocessed_data/March.csv")
jan_2020 = pd.read_csv("../preprocessed_data/January_2020.csv")
feb_2020 = pd.read_csv("../preprocessed_data/February_2020.csv")
mar_2020 = pd.read_csv("../preprocessed_data/March_2020.csv")

In [4]:
# concatenate january - march 2019
frames_2019 = [jan, feb, mar]
taxi_2019 = pd.concat(frames_2019)

# concatenate january - march 2020
frames_2020 = [jan_2020, feb_2020, mar_2020]
taxi_2020 = pd.concat(frames_2020)
taxi_2019

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,...,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,"Rain, Melted Snow, Etc. (in)","Snow, Ice, Pellets, Hail (in)","Snow, Ice, Pellets, Hail, Ice on Ground (in)",weather_median,time_traveled (seconds)
0,0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.50,1,N,151,239,...,1.65,0.0,0.3,9.95,NaN,"0,06",0,0,48.5,400.0
1,1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.60,1,N,239,246,...,1.00,0.0,0.3,16.30,NaN,"0,06",0,0,48.5,1152.0
2,2,1,2019-01-01 00:21:28,2019-01-01 00:28:37,1,1.30,1,N,163,229,...,1.25,0.0,0.3,9.05,NaN,"0,06",0,0,48.5,429.0
3,3,1,2019-01-01 00:32:01,2019-01-01 00:45:39,1,3.70,1,N,229,7,...,3.70,0.0,0.3,18.50,NaN,"0,06",0,0,48.5,818.0
4,4,1,2019-01-01 00:57:32,2019-01-01 01:09:32,2,2.10,1,N,141,234,...,1.70,0.0,0.3,13.00,NaN,"0,06",0,0,48.5,720.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6750111,7832393,2,2019-03-31 23:19:33,2019-03-31 23:22:55,2,0.75,1,N,48,230,...,1.66,0.0,0.3,9.96,2.5,"0,06",0,0,52.0,202.0
6750112,7832394,2,2019-03-31 23:35:19,2019-03-31 23:39:30,1,1.17,1,N,100,249,...,2.79,0.0,0.3,12.09,2.5,"0,06",0,0,52.0,251.0
6750113,7832396,2,2019-03-31 23:20:15,2019-03-31 23:24:12,1,1.11,1,N,263,236,...,0.00,0.0,0.3,9.30,2.5,"0,06",0,0,52.0,237.0
6750114,7832398,2,2019-03-31 22:32:57,2019-03-31 23:21:22,1,0.00,1,N,237,193,...,0.00,0.0,0.0,0.00,2.5,"0,06",0,0,52.0,2905.0
6750115,7832399,2,2019-03-31 23:31:13,2019-03-31 23:31:15,1,0.00,1,N,264,264,...,0.00,0.0,0.0,0.00,0.0,"0,06",0,0,52.0,2.0

## Feature Selection

In [59]:
taxi_2019_x = taxi_2019.drop(columns=['total_amount', 'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'store_and_fwd_flag', 'Rain, Melted Snow, Etc. (in)', 'Snow, Ice, Pellets, Hail (in)', 'Snow, Ice, Pellets, Hail, Ice on Ground (in)', 'congestion_surcharge'])
taxi_2019_x
taxi_2019_y = taxi_2019['total_amount']

# use feature selection
from sklearn.feature_selection import SelectKBest, chi2, f_regression
X_reg_new=SelectKBest(score_func=f_regression, k=10)
X_reg_new.fit(taxi_2019_x,taxi_2019_y)

SelectKBest(score_func=<function f_regression at 0x7fb80f096ca0>)

In [63]:
# previous trial
# taxi_2019_x = taxi_2019[['tolls_amount', 'tip_amount', 'fare_amount', 'weather_median', 'trip_distance', 'passenger_count', 'mta_tax']]
# taxi_2019_y = taxi_2019['total_amount']

# check which features are selected from SelectKBest
# attributed from https://stackoverflow.com/questions/46927545/get-feature-names-of-selectkbest-function-python
X_new = X_reg_new.transform(taxi_2019_x)
print(X_new.shape)

taxi_2019_x.columns[X_reg_new.get_support(indices=True)]

# 1st way to get the list
vector_names = list(taxi_2019_x.columns[X_reg_new.get_support(indices=True)])
print(vector_names)

(19410492, 10)
['trip_distance', 'RatecodeID', 'payment_type', 'fare_amount', 'extra', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'weather_median', 'time_traveled (seconds)']

In [67]:
X_reg_new=SelectKBest(score_func=f_regression, k=10).fit_transform(taxi_2019_x,taxi_2019_y)

In [68]:
X_reg_new.shape

(19410492, 10)

In [69]:
taxi_2019.shape

(19410492, 24)

In [70]:
pd.DataFrame(X_reg_new).head

<bound method NDFrame.head of              0    1    2     3    4     5    6    7     8       9
0         1.50  1.0  1.0   7.0  0.5  1.65  0.0  0.3  48.5   400.0
1         2.60  1.0  1.0  14.0  0.5  1.00  0.0  0.3  48.5  1152.0
2         1.30  1.0  1.0   6.5  0.5  1.25  0.0  0.3  48.5   429.0
3         3.70  1.0  1.0  13.5  0.5  3.70  0.0  0.3  48.5   818.0
4         2.10  1.0  1.0  10.0  0.5  1.70  0.0  0.3  48.5   720.0
...        ...  ...  ...   ...  ...   ...  ...  ...   ...     ...
19410487  0.75  1.0  1.0   4.5  0.5  1.66  0.0  0.3  52.0   202.0
19410488  1.17  1.0  1.0   5.5  0.5  2.79  0.0  0.3  52.0   251.0
19410489  1.11  1.0  2.0   5.5  0.5  0.00  0.0  0.3  52.0   237.0
19410490  0.00  1.0  2.0   0.0  0.0  0.00  0.0  0.0  52.0  2905.0
19410491  0.00  1.0  2.0   0.0  0.0  0.00  0.0  0.0  52.0     2.0

[19410492 rows x 10 columns]>

## Modelling

In [71]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn.linear_model import Lasso, ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.feature_selection import SelectKBest
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn.linear_model import LinearRegression
from time import time

def reg_modeling_split(X,Y,size) :
    # Model Collection
    models = []
    models.append(('LASSO', Lasso()))
    models.append(('EN', ElasticNet()))
    # models.append(('KNN', KNeighborsRegressor()))
    # models.append(('CART', DecisionTreeRegressor()))
    # models.append(('XGB', XGBRegressor()))
    models.append(('LinearRegression', LinearRegression(positive=False, normalize=False, n_jobs=1, fit_intercept=True, copy_X=True)))
    # Initial Values
    results = []
    best_result = []
    names = []
    scoring = 'neg_mean_squared_error'
    cur_score = -1000
    runtime = []
    # Evaluate Each Model and Select Best Model
    for i, (name, model) in enumerate(models):
        # Cross Validation k-Fold
        seed = 7
        X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=size,random_state=seed)
        t0 = time()
        cv_results = cross_val_score(model, X_train, Y_train, cv=3, scoring=scoring)
        print("%s: %f in %.3f" % (name,cv_results.mean(),time()-t0))
        runtime.append(time() - t0)
        results.append(cv_results.mean())
        names.append(name)    
        # Best Model Selection
        if cv_results.mean() > cur_score:
            cur_score = cv_results.mean()
            best_result = cv_results
            best_index = i
            print("Better Model %s: %f in %.3f" % (name,cv_results.mean(),time()-t0))
    best_model = models[best_index]
    best_time = runtime[best_index]
    return (best_model,best_time,best_result)

best_model = reg_modeling_split(X_reg_new, taxi_2019_y.values, 0.2)

#cv_results untuk apa

LASSO: -79.516372 in 6.803
Better Model LASSO: -79.516372 in 6.804
EN: -75.996236 in 5.893
Better Model EN: -75.996236 in 5.893
LinearRegression: -46.347813 in 6.986
Better Model LinearRegression: -46.347813 in 6.986

## Hyperparameter Tuning

In [48]:
# random search linear regression model on the auto insurance dataset
from scipy.stats import loguniform
from pandas import read_csv
from sklearn.linear_model import Ridge
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import RandomizedSearchCV

cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)

# define search space
space = dict()
space['fit_intercept'] = [True, False]
space['normalize'] = [True, False]
space['copy_X'] = [True, False]
space['positive'] = [True, False]
space['n_jobs'] = [1, -1, -2]


model = LinearRegression()
# define search
search = RandomizedSearchCV(model, space, n_iter=500, scoring='neg_mean_absolute_error', n_jobs=-1, cv=cv, random_state=1)
# execute search
X = pd.DataFrame(X_reg_new)

In [49]:
result = search.fit(X, taxi_2019_y)
# summarize result

result.best_score_
result.best_params_

{'positive': False,
 'normalize': False,
 'n_jobs': 1,
 'fit_intercept': True,
 'copy_X': True}

## Predict 2020 Data

In [37]:
model.get_params().keys()

dict_keys(['copy_X', 'fit_intercept', 'n_jobs', 'normalize', 'positive'])

In [84]:
best_model[0][1].fit(X_reg_new, taxi_2019_y)
model = best_model[0][1]
jan_2020_x = jan_2020[['trip_distance', 'RatecodeID', 'payment_type', 'fare_amount', 'extra', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'weather_median', 'time_traveled (seconds)']]
jan_2020_y = jan_2020['total_amount']

jan_2020_pred = model.predict(jan_2020_x)
jan_2020_pred

array([11.54624789, 17.92378419, 10.64146791, ..., -8.69143149,
       -8.69134467, -8.69114836])

In [85]:
model.score(jan_2020_x, jan_2020_y)
# evaluation matrix
# hyperparameter tuning

0.9999543865626461